::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    white;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
input.confirm{
    background-color: #69BD45!important;
    margin-top: 25x!important;
    padding: 10px!important;
    margin-left: calc(100% - 180px)!important;
    border: 2px solid white;

}
input.cancel{
    background-color: #ED1F24 !important;
    margin-top: 25px;
    padding: 10px;
    margin-left: 20px;
    border: 2px solid white;
}
.clear{
    clear: both;
}
section#page-wrap{
    height: inherit;
    background-color:#74C8B3;
    color: white;
}
.search-button {
    height: 30px;
}
.sync-button {
    height: 30px;
}
.search-bar {
    height: 20px;
    width: calc(100% - 80px);
    margin: 15px 15px 20px;
    background-color: rgb(116, 200, 179);
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 13px;
}
.header{
    font-size: large;
}
.headerLarge{
    font-size: x-large;
}
/*
*   Components
*/

/* Tabs */
.tabs {
    position: relative;   
    height: 100%; /* This part sucks */
    clear: both;
}
.tab {
    float: left;
    width: 20%;
}
.tab label {
    background: #36A189; 
    padding-bottom: 40px;
    border: 1px solid #ccc; 
    display: inline-block;
    margin-left: -1px;
    width: 100%;
    text-align: center;
    position: relative;
    left: 1px; 
    height: 30px;
    word-break: break-all;
    word-wrap: break-word;
}
.tab:last-child label {
    background: #00B4B8; 
}
.tab [type=radio] {
    display: none;   
}
.tab label img {
    height: 150%;
    margin: auto;
}
.content {
    overflow-y: scroll; 
    position: absolute;
    top: 71px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2px;
    border: 1px solid #ccc; 
    height: inherit;
}
[type=radio]:checked ~ label {
    background: #025C47;
    border-bottom: 1px solid white;
    z-index: 2;
}
.tab:last-child [type=radio]:checked ~ label {
    background: #025C47;
    border-bottom: 1px solid white;
    z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
    z-index: 1;
}
.content {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-100%);
    -moz-transform:    translateX(-100%);
    -ms-transform:     translateX(-100%);
    -o-transform:      translateX(-100%);
    -webkit-transition: all 0.6s ease;
    -moz-transition:    all 0.6s ease;
    -ms-transition:     all 0.6s ease;
    -o-transition:      all 0.6s ease;
}
[type=radio]:checked ~ label ~ .content {
      z-index: 1;
}
[type=radio]:checked ~ label ~ .content {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform:    translateX(0);
    -ms-transform:     translateX(0);
    -o-transform:      translateX(0);
}

/*
*   Views
*/

/* Sales */
form#sales figure.location {
    float: left;
    margin:0;
    background-color: #0DB6B9;
    border-radius: 50%;
    border: 2px solid white;
    width: 50px;
    height: 50px;
    text-align: center;
    display: table;
} 
figcaption {
    vertical-align: middle;
    display: table-cell;
} 
form#sales fieldset{
     border-color:white;
     border-width: 2pt;
     border-radius: 15px 15px;
     text-align: right;
     margin: auto;
     margin-bottom: 15px;
     width: (99% - 5px);
}
form#sales table{
    width: 98%;
    margin-top: 15px;
}
form#sales table td.headerLarge{
    width: 6%;
    text-align: center;
}
form#sales table td.large{
    width: 5%;
}
form#sales table td.small{
    width: 8%;
}
form#sales table td:first-child{
    width: 50%;
    min-width: 65px;
}
form#sales table td:last-child{
    min-width: 75px;
}
form#sales input.priceTag{
    background-color: #00B4B8;
    color: #FFF;
    border: 2px solid #FFF;
    padding: 5px;
    margin-left: 10px;
    width: 30px;
    text-align: center;
}
form#sales select.itemCode{
    background-color: #00B4B8;
    color: #FFF;
    border: 2px solid #FFF;
    padding: 5px;
    width: calc(100% - 20px);
    text-align: center;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-appearance: none;
    outline: none;
}
form#sales input.quantity{
    background-color: #00B4B8;
    color: #FFF;
    border: 2px solid #FFF;
    padding: 5px;
    width: 40px;
    text-align: center;
}
form#sales input.weight{
    background-color: #00B4B8;
    color: #FFF;
    border: 2px solid #FFF;
    padding: 5px;
    width: 40px;
    text-align: center;
}
form#sales input.cancel{
    margin: 0px !important;
    height: 40px;
    padding: 5px 41%;
}
form#sales span.noteHeader{
    color: white;
    float: left;
}
form#sales input.noteClear{
    margin: 10px 0 !important;
    float: left;
    max-height: 42px;
    background-color: #ED1F24 !important;
    border: 2px solid white;
}
form#sales textarea.notes {
    width: calc(99% - 70px);
    max-width: calc(99% - 70px)!important;
    background-color: #00B4B8;
    color: #FFF;
    border: 2px solid #FFF;
    padding: 5px;
    margin: 10px 0 10px 0;
}
/*New Sale*/
article#newSale{
    width: 100%;
}
article#newSale select#newSaleSlaughterDate{
    background-color: #00B4B8;
    color: white;
    margin: 10px;
    width: 90%;
    padding: 5px;
    border: 2px solid white;
}
article#newSale input{
    background-color: #00B4B8;
    color: white;
    margin-bottom: 15px;
    border: 2px solid white;
}
article#newSale input#newSaleFirstName, article#newSale input#newSaleLastName{
    margin: 19px 1% 15px;
    width: calc(40% - 20px);
    float: right;
    padding: 3px;
}
article#newSale figure.location {
    float: left;
    margin: 10px 1% 15px 5px;
    background-color: #0DB6B9;
    border-radius: 50%;
    border: 2px solid white;
    width: 40px;
    height: 40px;
    text-align: center;
    display: table;
}
article#newSale input#newSaleEmail{
    width: calc(99% - 15px);
    padding: 5px;
}
article#newSale input#newSaleTelephone{
    width: calc(99% - 15px);
    padding: 5px;
}
article#newSale textarea#newSaleAddress{
    background-color: #00B4B8;
    color: white;
    margin-bottom: 15px;
    border: 2px solid white;
    width: calc(99% - 15px);
    padding: 5px;
}
article#newSale select#newSaleLocationSelect{
    width: 25%;
    max-width: 80px;
    border: 2px solid #FFF;
    padding: 4px;
    background-color: #00B4B8;
    color: white;
}
article#newSale input#newSaleAddLocationText{
    width: 50%;
    max-width: 120px;
    border: 2px solid white;
    margin: 0px -1px;
    padding: 5px;
}
article#newSale input#newSaleAddLocationBtn{
    border: 2px solid white;
    padding: 5px;
    background-color: #989898;
}
article.acc-open input#newSaleEmail{
    display: none;
}
article.acc-open input#newSaleTelephone{
    display: none;
}
article.acc-open textarea#newSaleAddress{
    display: none;
}
/*article.acc-open select#newSaleLocationSelect{
    display: none;
}
article.acc-open input#newSaleAddLocationText{
    display: none;
}
article.acc-open input#newSaleAddLocationBtn{
    display: none;
}*/
article.acc-open br.clear{
    display: none;
}
article.acc-open br.clear:first-child{
    display: inline;
}
article#newSale table#newSalePurchaseTable{
    width: 80%;
    margin: 10px auto 0 auto;
    padding: 2px;
}
article#newSale table#newSalePurchaseTable td{
    padding: 2px;
    width: 20%;
}
article#newSale table#newSalePurchaseTable td:first-child{
    padding: 2px;
    width: 40%;
}
article#newSale table#newSalePurchaseTable td.headerLarge{
    padding: 10px;
    text-align: center;
    width: initial!important;
}
article#newSale table#newSalePurchaseTable input{
    width: calc(100% - 10px)!important;
    margin: 0!important;
    padding: 5px;
}
article#newSale table#newSalePurchaseTable select{
    width: calc(100% - 10px)!important;
    margin: 0!important;
    background-color: #00B4B8;
    color: #FFF;
    border: 2px solid #FFF;
    padding: 5px;
    width: calc(100% - 20px);
    text-align: center;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-appearance: none;
    outline: none;
}
article#newSale table#newSalePurchaseTable td:nth-child(3) input, article#newSale table#newSalePurchaseTable td:nth-child(5) input{
    /*width: calc(25% - 10px)!important;*/
    margin: 0!important;
    padding: 5px;
}
article#newSale input.confirm{
    margin: 0!important;
}
/* Customers */
form#customers fieldset{
    border: none;
}
form#customers fieldset fieldset{
    border: none;
    overflow: hidden;
    padding: 0px 0px 0px 10%;
    transition: padding-bottom 0.6s ease;
    height: 20px;
    width: 100%;
}
form#customers fieldset fieldset .cancel{
    height: 45px;
    width: 45px;
    margin: 0px !important;
    padding: 10px 40%;
}
form#customers fieldset fieldset.acc-open{
    padding-bottom: 285px;
}
form#customers fieldset fieldset input:nth-child(2), form#customers fieldset fieldset input:nth-child(3){
    width: 45%!important;
}
form#customers fieldset input{
    background-color: rgb(116, 200, 179);
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 13px;
    width: 90%;
}
form#customers fieldset textarea{
    background-color: rgb(116, 200, 179);
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 13px;
    width: calc(99% - 120px);
    display: inline-block;
    height: 75px;
    resize:none;
}
form#customers fieldset article{
    margin-bottom: 13px;
    width: 120px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
form#customers fieldset select{
    background-color:#0DB6B9;
    border: none;
    width: 90%;
    vertical-align: middle;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-appearance: none;
    outline: none;
    text-align: center;
    color: white;
}
form#customers fieldset fieldset legend input{
    width: 100%;
    border: medium none;
    margin-left: -75%;
}
form#customers figure.location {
    margin:0;
    margin-right: 15px;
    background-color: #0DB6B9;
    border-radius: 50%;
    border: 2px solid white;
    width: 50px;
    height: 50px;
    text-align: center;
    display: table;
}
form#customers figcaption {
    vertical-align: middle;
    display: table-cell;
} 
.tab [for=tab-2] + div.content article.search input.search-bar {
    height: 20px;
    width: calc(100% - 110px);
    margin: 15px 15px 20px;
    background-color: rgb(116, 200, 179);
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 13px;
}
/*New Customer*/
article#newCustomer{
    text-align: right;
}
article#newCustomer span{
    float: left;
    margin-bottom: 15px;
}
article#newCustomer input, article#newCustomer textarea, article#newCustomer select{
    background-color: #00B4B8;
    color: #FFF;
    margin-bottom: 15px;
    border: 2px solid white;
    padding: 5px;
}
article#newCustomer input#newCustomerEmail, article#newCustomer input#newCustomerTelephone{
    width: calc(100% - 25px);
    padding: 7px;
}
article#newCustomer input#newCustomerFirstName, article#newCustomer input#newCustomerLastName{
    width:calc(50% - 20px);
}
article#newCustomer textarea#newCustomerAddress{
    width: calc(100% - 22px);
}
article#newCustomer select#newCustomerLocationSelect{
    width: 25%;
    max-width: 80px;
    border: 2px solid #FFF;
    padding: 4px;
}
article#newCustomer input#newCustomerAddLocationText{
    width: 50%;
    max-width: 120px;
    border: 2px solid white;
    margin: 0px -6px;
    padding: 5px;
}
article#newCustomer input#newCustomerAddLocationBtn{
    border: 2px solid white;
    padding: 5px;
    background-color: #989898;
}
article#newCustomer input.cancel{
    padding: 10px;
}
/* Items */
form#items fieldset{
    border: none;
    width: 97%;
}
form#items fieldset fieldset{
    border: none;
    overflow: hidden;
    padding: 0px 0px 150px;
    transition: padding-bottom 0.6s ease;
    height: 0px;
    padding-bottom: 0px;
}
form#items fieldset.acc-open{
    width: unset;
}
form#items fieldset article input.itemName{
    background-color: rgb(116, 200, 179);
    border: none;
    vertical-align: top;
    margin-top: 10px;
}
form#items fieldset article input.itemCode{
    background-color: rgb(116, 200, 179);
    border: none;
    vertical-align: top;
    float: right;
    width: 60px;
    margin-top: 10px;
}
form#items fieldset article input.itemPrice{
    background-color: rgb(116, 200, 179);
    border: none;
    vertical-align: top;
    float: right;
    width: 60px;
    margin-top: 10px;
}
form#items fieldset article input.cancel{
    margin: 0px;
    vertical-align: top;
    float: right;
    width: 30px;
    height: 30px;
}
form#items fieldset article{
    margin: 20px 0px 20px 5px;
    width: calc(100% - 20px);
    height: 60px;
}
/*New Item*/
article#newItem{

}
article#newItem [type=text]{
    background-color: #00B4B8;
    color: white;
    margin-bottom: 15px;
    border: 2px solid white;
    padding: 5px;
    width: calc(25% - 30px);
    margin: 2%;
}
/* Slaughters */
article#slaughters{

}
article#slaughters .cancel{
    height: 30px;
    width: 30px;
    margin: 0;
    vertical-align: bottom;
    margin-left: 20px;
}
article#slaughters input, article#slaughters select{
    background-color: #00B4B8;
    color: white;
    margin-bottom: 15px;
}
/*New Slaughter*/
article#newSlaughter{

}
article#newSlaughter input#newSlaughterDate{
    background-color: #00B4B8;
    color: white;
    margin-top: 15px;
    border: 2px solid white;
    padding: 5px;
}